/* THIS IS THE STANDARD STYLE SHEET FOR JACOB DAUPHINAIS WEBSITE */

body {
  background-color: beige;
}

h1 {
  color: navy;
  text-align: center;
}

p {
  color: blue;
  text-align: center;
  width: 50%;
}

table {
  background-color: lightblue;
}
