/* THIS IS THE STANDARD STYLE SHEET FOR JACOB DAUPHINAIS WEBSITE */

body {
  background-color: beige;
}

h1 {
  color: navy;
  margin: left;
  margin: right;
  width: 800px;
  text-align: center;
}

p {
  color: blue;
  margin: left;
  margin: right;
  width: 800px;
}

table {
  background-color: lightblue;
}
