/* THIS IS THE STANDARD STYLE SHEET FOR JACOB DAUPHINAIS WEBSITE */

body {
  background-color: beige;
  margin-align: center;
}

h1 {
  color: navy;
}

p {
  color: lightblue;
}

table {
  background-color: lightblue;
}
